@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Mako&family=Telex&display=swap');
/* Fontes: Telex / Mako / Inconsolata  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* HEADER */
.cabecalho-principal{
    display: flex;
    justify-content: end;   
    background: linear-gradient(90deg, rgb(146, 146, 148) 0%, rgb(89, 90, 91) 35%, rgba(152,160,162,1) 100%);
}
.cabecalho-principal ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 20px;
    font-size: 25px;
}
.cabecalho-principal a{
    font-family: "Telex", serif;
    font-weight: 400;
    color: white;
}

/* MAIN */
.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px 0 20px 0 ;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,61,64,1) 35%, rgba(152,160,162,1) 100%);
    gap: 20px;
}

/* SEÇÕES PRINCIPAIS */
.dados-pessoais,.formacao-principal,.experiencia-principal{
    /* border: 1px solid #ffffff; */
    border-radius: 7px;
    width: 50%;
    background: rgba(237, 232, 232, 0.8);
    
}
/* FIM SEÇÕES PRINCIPAIS */
                    
/* DIVS SEÇÕES */
.experiencia, .formacao{
    padding: 15px;
}
/* FIM DIVS SEÇÕES */

/* TEXTOS */
.categorias{
    text-align: center;
    font-size: 25px;
    font-family: "Telex", serif;
    padding: 20px 0 7px;
}
#nomeCompleto{
    font-family: "Telex", serif;
    margin-left: 4rem;
    padding-top: 1rem;
}
.formacao,.experiencia,.item-dados-pessoais{
    margin-left: 3rem;
    padding: 1rem;
}
p, h5{
    font-family: "Mako", serif;
    font-weight: 400;
}
h5{
    font-weight: 700;
    font-size: 15px;
    padding-top: 5px;   
}
#email{
    font-family: "Inconsolata", monospace;
    font-style: italic;
}